export/
tablas_input/
.Rproj.user
.Rhistory
.RData
.Rproj.user/
scripts/test.R
logs/
markdowns/comparativo_ggiraph_plotly.html
markdowns/ejemplo_reactable.html
markdowns/test.html
markdowns/tutorial-reactable.html
markdowns/tutorial_dataset/
markdowns/datosWeb.html
markdowns/datosWeb_old.Rmd
index_old.html
